.contacts__outer {
    background: url("../img/background-contacts.webp") 50.31% 100% / cover;
    background-repeat: no-repeat;
    color: var(--main-color);
}

.contacts__inner {
    padding-top: 115px;
    padding-bottom: 95px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: -15px;
    margin-right: -15px
}


address {
    font-style: normal;
}

.contacts h2 {
    font-size: 38px;
    text-align: left;
}

.contacts__divider img{
    display: block;
    max-width: 100%;
    min-height: 32px;
    line-height: 27.2px;
}

.contacts__divider{
    margin-top: 25 px;
}