.footer {
  background-color: rgb(28, 27, 27);
  }

.footer__container {
  background-color: rgb(28, 27, 27);
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
  }

.footer__container-outer {
  display: flex;
  text-align: center;
  align-items: stretch;
  }

.footer__container-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  }

.footer__logo-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  }

  .footer__logo-slogan a {
    display: block;
    border-color: rgb(85, 26, 139);
    margin-left: 80px;
    margin-right: 80px;
    }

    .footer__logo-slogan a img {
      display: block;
      width: 182px;
      }

  .footer__logo-slogan p {
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 0px;
    }

    .footer__menu {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      margin-left: 15px;
      margin-right: 15px;
    }
    
    .footer__menu ul {
      margin: -10px -10px -5px -5px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    .footer__menu ul li {
      margin: 30px 30px 5px 5px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    .footer__menu ul li a {
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      text-decoration: none;
      margin: 10px 10px 5px 5px;
    }