@media (min-width:320px) {
   .header {
      background: url('../img/background-header-picture.png') 50.31% 100% / cover;
      filter: saturate(140%);
      background-repeat: no-repeat;
      max-width: 100vw;
      max-height: 100vh;
      width: 100%;
      height: 100vh;
      color: #ffffff;
   }

   .header__american-campers-logo {
      margin-top: 20px;
      margin-left: 20px;
   }

   .header__american-campers-logo img {
      max-width: 136px;
   }

   .header__under-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
   }

   .text__experience {
      text-align: center;
   }

   .header__main-text {
      flex-direction: column;
      font-size: 3rem;
      text-align: center;
      margin: auto 40px;
   }

   .header__center-line {
      margin-top: 50px;
   }

   .header__center-line img {
      display: block;
      max-width: 100%;
   }

   .header__tagline {
      margin-top: 40px;
   }

   .header__tagline-text {
      text-align: center;
      font-size: 1.5rem;
   }

   .button__book-discover {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   .header__book-tour-button {
      border: 3px solid green;
      background: #ffffff;
   }

   .header__discover-button {
      border: 3px solid green;
      background: #ffffff;
   }
}

@media (min-width:354px) {
   .header__under-nav {
      margin-top: 100px;
   }
}

@media (min-width:404px) {
   .button__book-discover {
      flex-direction: row;
   }
}

@media (min-width:768px) {
   .text__experience {
      font-size: 2rem;
   }

   .header__main-text {
      font-size: 4rem;
   }
}

@media (min-width:991px) {
   .header__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }

   .text__experience {
      font-size: 2.5rem;
   }

   .header__main-text {
      font-size: 5rem;
   }

   .header__menu {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: end;
   }

   .nav__menu-list {
      display: inline;
      align-items: center;
      text-align: center;

   }

   .nav__menu-item {
      display: inline;
      list-style-type: none;
      margin: 5px;

   }

   .header-social>img {
      margin: 15px;
      min-width: 30px;
   }

   .nav__menu-item>a {
      color: #ffffff;
   }

   .header-social {
      display: flex;
      flex-direction: row;
      justify-content: end;
   }

   .header__under-nav {
      padding-top: 80px;
   }

   .header__under-nav {
      margin-top: 180px;
   }
}

@media (min-width:1049px) {
   .header__container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
   }

}