.tours {
  background: url(../img/tours-fon.png) 50.31% 100% / cover;
  padding-top: 50px;
  padding-bottom: 100px;
}

.tours__card {
  margin: 0 auto;
  max-width: fit-content;
}

.camping__tours h2 {
  font-family: "Passion One", cursive;
  font-size: 38px;
  font-weight: 700;
  line-height: 43px;
  color: var(--main-color);
  text-align: center;
  padding: 0 15px;
  margin: 0 -15px;
}

.tours__link-button {
  border: 1px solid var(--dark-accent-color);
  background-color: var(--dark-accent-color);
}

.tours__link {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.tours__imag {
  display: block;
  width: 350px;
  padding-top: 30px;
  margin: auto;
  max-height: 712px;
  object-fit: cover;
}

.yellowstone_tours__container,
.montana_tours__container,
.utah_tours__container,
.banff_tours__container {
  position: relative;
  margin: -100px 5px 0 5px;
  background-color: var(--brand-color);
  color: var(--title-color);
  padding: 15px;
  z-index: 1;
}

.yellowstone__text,
.utah_arizona__text,
.montana__text,
.banff_yoho__text {
  font-family: "Passion One", cursive;
  text-align: center;
  font-size: 24px;
  color: var(--title-color);
  font-weight: 400;
}

.details__text {
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
@media (min-width: 768px) {
  .yellowstone_utah__tours {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  .montana_banff__tours {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  .tours__card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .tours__imag {
    width: 337px;
  }
  .yellowstone_tours__container,
  .montana_tours__container,
  .utah_tours__container,
  .banff_tours__container {
    margin: -100px 5px 0 20px;
    width: 300px;
  }
  .tours__utah img,
  .tours__montana img {
    height: 300px;
  }
  .tours__link {
    margin-top: 50px;
    text-align: center;
  }
}

@media (min-width: 911px) {
  .tours__imag {
    width: 437px;
  }
}

@media (min-width: 1100px) {
  .tours__imag {
    width: 537px;
  }
}

@media (min-width: 1100px) {
  .yellowstone_utah__tours {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  .montana_banff__tours {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  .yellowstone_tours__container,
  .montana_tours__container,
  .utah_tours__container,
  .banff_tours__container {
    margin: -100px 5px 0 20px;
    width: 300px;
  }
  .tours__utah img,
  .tours__montana img {
    height: 400px;
  }
  .tours__imag {
    width: 558px;
  }
}
