.contacts__outer {
    display: flex;
    flex-wrap: wrap;
    background: url("../img/background-contacts.webp") 50.31% 100% / cover;
    background-repeat: no-repeat;
    background-color: var(--title-color);
    border-width: 0px;
}

.contacts__inner {
    padding-top: 115px;
    padding-bottom: 95px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: -15px;
    margin-right: -15px;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

@media (min-width: 768px) { /* Adjust this breakpoint value as needed */
    .contacts__inner {
      flex-direction: row;
      justify-content: space-between;
    }
  }

.contacts__contacts-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.contacts__contacts-grid {
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 28px;
    padding-right: 28px;
}

.contacts__contacts-grid h2 {
    font-size: 46px;
    font-style: normal;
    text-align: left;
}

.contacts__divider {
    margin-top: 25 px;
    max-width: 100%;
    min-height: 32px;
}

.contacts__divider img{
    display: block;
    max-width: 100%;
    min-height: 32px;
    line-height: 27.2px;
}

.contacts__contacts-grid p {
    margin-top: 20px;
    margin-block-start: 20px;
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}

.contacts__contacts-list-wrapper {
    margin-top: 25px;
    display: block;
}

.contacts__contacts-list-wrapper h3 {
    margin-bottom: 5px;
    font-family: "Passion One", cursive;
    font-size: 22px;
    font-weight: 400;
}

.contacts__contact-details {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 16px;
}

.contacts__contact-details a {
    color: inherit; /* Use the parent element's color */
    text-decoration: none; /* Remove the underline */
}

.contacts__form-wrapper{
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.contacts__form-inner-wrapper{
    padding: 46px;
    background: #ffffff;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    border-color: rgb(28, 28, 27);
    color: rgb(28, 28, 27);
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.contacts__form-field {
    margin-bottom: 24px;
    display: block;
    width: 100%;
    line-height: 27.2px;
}

.contacts__form-field input,
.contacts__form-field textarea,
.contacts__form-field select {
    margin-top: 12px;
    padding: 16px 24px;
    border-color:#fbb01f;
    background-color:rgba(81, 81, 81, 0.29);
    border-radius: 34px;
    font-size: 14px;
    font-weight: 400;
    display: block;
    cursor: text;
    width: 100%;
    line-height: 16.8px;
    height: 49px;
    border-width: 0px;
}

.contacts__form-field:nth-child(4),
.contacts__form-field textarea {
    height: 150px;
}

.contacts__form-field:nth-child(5) {
    margin: 0;
}

.contacts__form-field select{
    padding: 1px, 2px;
}

.contacts__form-button {
    margin-top: 56px;
    padding: 16px 24px;
    background-color: rgb(251, 176, 31);
    border-radius: 34px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    height: 46px;
    border-width: 0px;
    color: rgb(255, 255, 255)
}