.tours {
  background: url(../img/tours-fon.png) 50.31% 100% / cover;
}

.camping__tours {
  text-align: center;
  color: #fff;
}

.tours__link {
  text-align: center;
} 

.tours__card{
  text-align: center;
  padding: 10px;
  margin: auto;
}

@media(min-width:600px){
  .tours__card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

.button{
  background-color: var(--dark-accent-color);
  border: 1px solid var(--dark-accent-color);
  border-radius: 32px;
  color: var(--main-color);
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 20px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.tours__yellowstone img{
    display: block;
    width: 301px;
    height: 160px;
    max-width: 100%;
    max-height: 100%;
}
