.gallery__title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery__link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
}
  
.img-thumbnail {
    max-width: 100px;
    cursor: pointer;
}
@media (max-width: 767px) {
    .img-thumbnail {
      display: none;
    }
}