h2 {
    text-align: center;
    font-family: "Passion One", cursive;
    font-size: 38px;
}

.ourteam__john {
    background-color: #fff;
    padding: 24px;
    margin: 24px;
}
.ourteam__johnphoto {
    
}