.partners {
  background-color: var(--title-color);
}
.partners__container {
  padding: 80px 0px 30px 0px;
  min-width: 320px;
}
.partners__container-content {
  padding: 0 24px 0 24px;
  max-width: 1200px;
}
.partners__container-content-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.partners__text {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin: 0 -15px 0 -15px;
}
.partners__title {
  color: var(--main-color);
  font-family: "Passion One", cursive;
  font-size: 38px;
  font-weight: 700;
  line-height: 43px;
  text-align: left;
}
.partners__subtitle {
  color: var(--main-color);
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 28.5px;
  text-align: left;
  margin-top: 25px;
}
.partners__cards-text {
  color: var(--main-color);
  font-family: "Passion One", cursive;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.partners__cards {
  display: flex;
  flex-direction: column;
}
.partners__cards-maui,
.partners__cards-utah,
.partners__cards-sun {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.partners__cards-img {
  margin: auto;
  width: 327px;
  object-position: 50% 50%;
  max-width: 100%;
  display: block;
  width: 100%;
}
@media (min-width: 480px) {
  .partners__cards-img {
    width: 432px;
  }
}
@media (min-width: 768px) {
  .partners__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .partners__cards-maui {
    flex-grow: 2;
  }
  .partners__cards-utah-img {
    padding-right: 15px;
  }
  .partners__cards-sun-img {
    padding-left: 15px;
  }
  .partners__cards-img {
    width: 337px;
  }
  .partners__cards-img {
    margin: auto;
  }
}
@media (min-width: 992px) {
  .partners__container-content {
    padding: 0 40px;
  }
  .partners__container-content-flex {
    display: flex;
    flex-direction: row;
  }
  .partners__text {
    width: 294px;
  }
  .partners__title {
    color: var(--main-color);
    font-family: "Passion One", cursive;
    font-size: 55px;
    line-height: 62px;
  }
  .partners__cards {
    flex-wrap: nowrap;
  }
  .partners__cards-text {
    font-size: 19px;
    line-height: 28px;
  }
  .partners__cards-img {
    width: 186px;
  }
  .partners__cards-maui,
  .partners__cards-utah,
  .partners__cards-sun {
    margin-top: 0px;
  }
  .partners__cards-utah-img {
    padding-left: 15px;
  }
  .partners__cards-sun-img {
    padding-right: 15px;
  }
  .partners__cards-sun-img {
    padding: 0 15px;
  }
  @media (min-width: 1200px) {
    .partners__text {
      width: 300px;
    }
    .partners__cards-img {
      width: 253px;
    }
  }
  @media (min-width: 1440px) {
    .partners__container-content {
      padding: 0 15px;
      margin: 0 120px;
    }
    .partners__text {
      width: 301px;
    }
    .partners__cards-img {
      width: 270px;
    }
  }
}
