#philosophy {
    background-image: url('/img/bg-philosophy.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
   }
   .philosophy__heading {
    text-align: center;
    font-size: 46px;
    font-family: 'Passion One', cursive;
    letter-spacing: 2.3px;
    line-height: 52px;
    font-weight: 700;
    font-stretch: 100%;
 }
 .philosophy__intro {
    height: 100px;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
 }
 .philosophy__text {
    height: 100px;
    text-align: center;
    font-family: sans-serif;
 }
 .philosophy__links {
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
 }