#philosophy {
  background-image: url("/img/bg-philosophy.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.philosophy__heading {
  text-align: center;
  font-size: 46px;
  font-family: 'Passion One', cursive;
  letter-spacing: 2.3px;
  line-height: 38px;
  font-weight: 700;
  font-stretch: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 1.9px;
  line-height: 54px;
}

.philosophy__intro {
  min-width: 360px;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.philosophy__text {
  min-width: 360px;
  min-height: 100px;
  text-align: center;
  font-family: sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.philosophy__links {
  height: 250px;
  text-align: bottom;
  font-family: sans-serif;
  font-weight: bolder;
  position: left;
}

.philosophy__links h3 {
  text-align: center;
  font-family: 'Passion One', cursive;
  font-weight: 400;
  font-size: 25px;
  margin-top: 30px;
}

#philosophy a{
  text-decoration: none;
  text-align: center;
  width: 49%;
  margin-top: 30px;
}
