
.tours{
    background-image: url(../img/tours-fon.png) 50.31%
    100% / cover;
}

.camping-tours {
    text-align: center;
    color: #fff;
    }
.tours__link{
    text-align: center;
}

.tours-card{
    display: grid;
    grid-template-columns: repeat(1, 1rf);
}

