.itinerary {
  padding-top: 5px;
  background-color: var(--yellowstone-color);
  background-size: cover;
  min-width: 100%;
  min-height: 73vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.itinerary__container {
  max-width: 1000px;
}
.itinerary__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 55px;
  font-family: "Passion One", cursive;
  padding-top: 40px;
  text-align: center;
  line-height: 43px;
}
.itinerary__list {
  list-style: none;
  display: block;
  justify-content: center;
  align-items: center;
}

.itinerary__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.itinerary__item {
  max-width: 1000px;
  margin: 20px 0px 0px 0px;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
  padding: 20px;
}

.itinerary__list-image img {
  max-width: 100%;
  width: 300px;
  margin: auto;
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.itinerary__item-description {
  max-width: 640px;
}
.itinerary__item-title {
  font-family: "Passion One", cursive;
  font-size: 25px;
  text-align: center;
}
.itinerary__item-description {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
  color: var(--subtitle-color);
  padding: 15px 15px 15px 15px;
  margin: auto;
}

.itinerary__item-title-green {
  color: var(--dark-accent-color);
}

.itinerary__footer {
  background-image: url("/img/testim-faq-background.png");
}

@media (min-width: 780px) {
  .itinerary__item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container {
    max-width: 1000;
    margin: auto;
  }
}
