@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Passion+One&display=swap');

:root {
  --main-color: #1C1C1B
  --block-color: #FFFFFF;
}
.itinerary {
  padding-top: 5px;
  background-color: #f3f3f2;
  background-size: cover;
  min-width: 100%;
  min-height: 73vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itinerary__container {
  max-width: 1100px;
}
.itinerary__title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 55px;
  font-family: "Passion One", cursive;
  padding-top: 40px;
  text-align: center;
  line-height: 43px;
}
.itinerary__list {
  list-style: none;
  display: block;
  justify-content: center;
  align-items: center;
  
}

.itinerary__list-item {
  display: flex;
  flex-direction: column;
}

.itinerary__item {
  max-width: 1200px;
  max-height: 600px;
  margin: 30px 0px 0px 0px;
  align-items: center;
  flex-direction: column;
  background-color: white
}

.itinerary__list-image img {
  max-width: 400px;
  display: block;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

}

.itinerary__item-description {
  max-width: 640px;
}
.itinerary__item-title {
  font-family: 'Passion One', cursive;
  font-size: 25px;
  text-align: center;
}
.itinerary__item-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #1C1C1BBA;
  padding: 5px 5px 5px 5px;
  margin: auto;
}

.itinerary__item-title-green {
  color: #99B20F

}

.itinerary__footer {
  background-image: url('/img/testim-faq-background.png');
}

@media (min-width: 780px) {
  .itinerary__item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
}

.container {
  max-width: 1200;
  margin: auto;
}